<% include ./partials/header.ejs %>
<div class="profile w-full min-h-screen bg-zinc-800 text-white p-1">
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>
    <div class="profdets flex flex-col items-center mt-20">
        <div class="relative">
            <span id="uploadicon" class="w-8 h-8 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-zinc-200">
                <i class="text-zinc-800 ri-pencil-fill"></i>
            </span>
            <div class="w-32 h-32  bg-zinc-200 rounded-full overflow-hidden">
                <img  class="w-full h-full object-cover " src="/images/uploads/<%= user.profileImage %>" alt="">
            </div>
        </div>

    <h1 class="text-3xl font-semibold mt-5">Tejas Ingle</h1>
    <h3 class="text-md">@username</h3>
    <a href="/add" class="px-2 py-2 rounded-lg  bg-red-700 text-xs font-semibold mt-10">Add New Post</button>
    
    <a href="/edit" class="mt-5 px-7 py-2 bg-zinc-700 rounded-full text-xs">Edit </a>

</div>


   <div class="p-10">
    <div class="w-80 h-80 bg-zinc-800 rounded-md shadow-md  mt-5">
        
            <img  class="w-full h-full object-cover rounded-lg" src="/images/uploads/<%=user?.posts[0]?.image %>">
        
    <a href ="/show/posts" class="inline-block text-xl font-semibold mt-10">Your Uploaded Pins</h3>
    <h5 class="text-sm font-medium opacity-60"><%= user.posts.length %></h5>

</div>
</div>
<script>

    document.querySelector("#uploadicon").addEventListener("click", function (){
     document.querySelector("#uploadform input").click();
})
document.querySelector("#uploadform input").addEventListener("change",function(){
    document.querySelector("#uploadform").submit();
})
</script>
<% include ./partials/footer.ejs %>