<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-center bg-cover bg-zinc-300 flex items-center justify-center">
    <div class="w-[25vw] h-[60vh] bg-white px-20 py-8  rounded-[30px]">
    <h1 class="text-3xl text-center leading-none font-semibold">Create new account</h1>
    <form action="/register" method="post">
      <input class="border-2 block mt-4 w-full px-3 py-2 rounded-md"type="text" name="username" placeholder="username">
      <input class="border-2 block mt-4 w-full px-3 py-2 rounded-md"type="text" name="email" placeholder="email">
      <input class="border-2 block mt-4 w-full px-3 py-2 rounded-md"type="number" name="contact" placeholder="contact">
      <input class="border-2 block mt-4 w-full px-3 py-2 rounded-md"type="password" name="password" placeholder="password">

      <input class="border-2 block mt-4 w-full px-3 py-2 bg-red-600 text-white rounded-md"type="submit" value="Create new account">
    <p class="text-xs font-semibold text-zinc-500 py-5 text-center mt-7 w-3/4 mx-auto">asfds sdaasdsa sdas dasg dsfghfhfh sfsdghsdgsd  safas f saf af asfsaf safa fasf asf asf asfsfsfaf asfsaf</p>
    
    </form>
    <a class ="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full " href="/
    ">Login Existing Account</a>
    </div>
    </div>

<% include ./partials/footer.ejs %>